<?xml version="1.0"?>
<config>
    <modules>
        <JustTom_Videos>
            <version>1.0.5</version>
        </JustTom_Videos>
    </modules>
    <global>
        <blocks>
            <justtom_videos>
                <class>JustTom_Videos_Block</class>
            </justtom_videos>
        </blocks>
        <helpers>
            <justtom_videos>
                <class>JustTom_Videos_Helper</class>
            </justtom_videos>
        </helpers>
        <models>
            <justtom_videos>
                <class>JustTom_Videos_Model</class>
            </justtom_videos>
        </models>
        <resources>
            <justtom_videos_setup>
                <setup>
                    <module>JustTom_Videos</module>
                </setup>
            </justtom_videos_setup>
        </resources>
    </global>
    <default>
        <justtom_videos>
            <global>
                <rel>rel=0</rel>
                <controls>controls=0</controls>
                <info>showinfo=0</info>
                <privacy></privacy>
            </global>
        </justtom_videos>
    </default>
    <frontend>
        <layout>
            <updates>
                <justtom_videos>
                    <file>justtom/videos.xml</file>
                </justtom_videos>
            </updates>
        </layout>
        <product>
            <collection>
                <attributes>
                    <enable_video/>
                    <youtube_url_code/>
                    <video_width/>
                    <video_height/>
                    <placeholder_image/>
                    <schema_name/>
                    <schema_description/>
                    <schema_duration_minutes/>
                    <schema_duration_seconds/>
                </attributes>
            </collection>
        </product>
    </frontend>
    <phpunit>
        <suite>
            <modules>
                <JustTom_Videos/>
            </modules>
        </suite>
    </phpunit>
</config>